name: Test
on:
  push:
  schedule:
    - cron: '0 3 * * *'
defaults:
  run:
    shell: bash
jobs:
  test:
    defaults:
      run:
        shell: bash

    runs-on: macos-13
    steps:
      - uses: actions/checkout@v2
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - uses: actions/setup-go@v2
      - run: |
          brew install bats-core coreutils gnu-getopt jq xq yq
      - name: Test signing/notarizing
        env:
          APP_SPECIFIC_PASSWORD: ${{ secrets.APP_SPECIFIC_PASSWORD }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          SIGNING_TOOLS_SIGNING_PASSWORD: ${{ secrets.SIGNING_TOOLS_SIGNING_PASSWORD }}
        run: |
          make test
      - uses: gautamkrishnar/keepalive-workflow@v1
